<div class="caja" *ngIf="clientes">
    <dx-data-grid id="gridContainer" [dataSource]="clientes" [showBorders]="true" width="610">

        <div *dxTemplate="let data of 'cellTemplate'">
            <dxi-column dataField="Id"></dxi-column>
            <dxi-column dataField="Nombre"></dxi-column>
            <dxi-column dataField="Cantidad"></dxi-column>
        </div>
    </dx-data-grid>
</div>

<div *ngIf="!clientes">
    <div class="loading">
        <dx-load-indicator id="medium-indicator" height="80" width="80">
        </dx-load-indicator>
    </div>
    <p> Cargando Información...</p>
</div>